In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk
from nltk.corpus import stopwords

#nltk.download('punkt')
#nltk.download('wordnet')
#nltk.download('stopwords')

In [2]:
data = pd.read_csv("train_2kmZucJ.csv")
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [3]:
data.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [6]:
data.drop(cols,axis =1, inplace = True)

In [7]:
data.head()

   label                                              tweet
0      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1      0  Finally a transparant silicon case ^^ Thanks t...
2      0  We love this! Would you go? #talk #makememorie...
3      0  I'm wired I know I'm George I was made that wa...
4      1  What amazing service! Apple won't even talk to...

In [8]:
tokenizer = nltk.tokenize.TreebankWordTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
stopwords = list(stopwords.words('english'))

def TransformText(text):
    #text to lower case
    text= text.lower()
    #convert to tokens
    tokens= tokenizer.tokenize(text)
    #lemmatize tokens to have meaning of the words
    tokens = [lemmatizer.lemmatize(token) for token in tokens]
    #remove words with word size less than 2
    tokens = [token for token in tokens if len(token) > 2]
    #remove stop words
    tokens = [token for token in tokens if token not in stopwords]
    return ' '.join(tokens)

In [9]:
data['tweet_processed']=data['tweet'].apply(lambda x : TransformText(x))

In [10]:
data.head()

,label,tweet,tweet_processed
0,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,fingerprint pregnancy test http //goo.gl/h1mfq...
1,0,Finally a transparant silicon case ^^ Thanks t...,finally transparant silicon case thanks uncle ...
2,0,We love this! Would you go? #talk #makememorie...,love would talk makememories unplug relax ipho...
3,0,I'm wired I know I'm George I was made that wa...,wired know george made way iphone cute daventr...
4,1,What amazing service! Apple won't even talk to...,amazing service apple n't even talk question u...

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

# parameters max_df : to reduce words which occur frequently , here more than 70 percent 
# parameters min_df : to reduce rare words, spelling mistake etc
# ngrams is taken as 2 : taking combination of words
vectorizer = CountVectorizer(min_df = 25, max_df= 0.7, ngram_range= (1,2))
features = vectorizer.fit_transform(data['tweet_processed']).todense()
features.shape
#print(features)
#pd.DataFrame(features, columns = vectorizer.get_feature_names_out())

(7920, 789)

In [12]:
# normalise the features

features =  features / features.sum(axis =1)
features = pd.DataFrame(features)

C:\Users\Indranil\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
features

,0,1,2,3,4,5,6,7,8,9,...,779,780,781,782,783,784,785,786,787,788
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.035714,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
y = data['label']

In [15]:
#getting all the indexes without null value
idxs = np.where(~features.isnull()[0])[0]

In [16]:
idxs

array([   0,    1,    2, ..., 7917, 7918, 7919], dtype=int64)

In [17]:
features = features.iloc[idxs, :]
y= y.iloc[idxs]

features.shape, y.shape

((7915, 789), (7915,))

In [18]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest , Ytrain , Ytest = train_test_split(features, y , test_size = 0.3 , random_state = 6)

Xtrain.shape, Xtest.shape

((5540, 789), (2375, 789))

In [20]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(Xtrain,Ytrain)

RandomForestClassifier()

In [21]:
model.score(Xtest,Ytest )

0.8757894736842106

In [22]:
from sklearn.svm import SVC
model_svc = SVC()
model_svc.fit(Xtrain,Ytrain)

SVC()

In [23]:
model_svc.score(Xtest,Ytest )

0.8842105263157894